# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# iOS
ios/Pods/
ios/.xcode.env.local

# Android
android/app/debug
android/app/release
*.apk
*.aab

# Metro
.metro-health-check*

# Testing
coverage/

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Environment
.env
.env.local
.env.*.local

# macOS
.DS_Store
*.pem

# Temporary files
*.log
tmp/
temp/
